{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% load my_templatetag %}

<html lang="en">
<head>
    <title>Sistema Gestor De Inventario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/Responsividad.css' %}">
    <link rel="icon" type="image/png" href="{% static 'polls/images/Icono.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    {% block estilo %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="loader">

</div>
<nav id="Ajuste" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Intelvid System</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Reporte' %}">
                  <span data-feather="archive"></span>
                  Inventario <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Entradas' %}">
                  <span data-feather="arrow-right"></span>
                  Entradas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Salidas' %}">
                  <span data-feather="arrow-left"></span>
                  Salidas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Ninventario' %}">
                  <span data-feather="plus-circle"></span>
                  Agregar Producto al inventario
                </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:Alotes' %}">
                        <span data-feather="plus-circle"></span>
                        Adicion De Entradas Por Lotes
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Nentrada' %}">
                  <span data-feather="plus-circle"></span>
                  Agregar entrada
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:Nsalida' %}">
                  <span data-feather="plus-circle"></span>
                  Agregar salida
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Base</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% static 'polls/Datos/Inventario.xlsx' %}">
                  <span data-feather="file-text"></span>
                  Excel base
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% block contenido %}Hola crayola{% endblock %}
        </main>
    </div>
</div>
{% block scripts %}{% endblock %}
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script type="text/javascript">
    $(window).on('load',function() {
        $(".loader").fadeOut("slow");
    });
    </script>
</body>
</html>