{% extends "polls/base.html" %}
{% load my_templatetag %}
{% load static %}

{% block contenido %}
<form action="{% url 'polls:Ninventario' %}" method="POST">
    {% csrf_token %}
    <h1 style="margin-left: 30px;">Agregar Producto Al Inventario</h1>
    <div class="Orden">
        <div class="form-group" style="width: 37%;">
            <label class="Titulito" for="Identificador">CLASIF.EQUIP(ID):</label>
            <input type="text" class="form-control" id="Identificador" name="Identificador" placeholder="INGRESAR ID O CLASIFICADOR DEL PRODUCTO" required>
        </div>
        <div class="form-group" style="width: 37%;">
            <label class="Titulito" for="Descripcion">Descripcion:</label>
            <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="INGRESAR DESCRIPCION DEL PRODUCTO" required>
        </div>
        <div class="form-group" style="width: 37%;">
            <label class="Titulito" for="ExistenciaI">Existencias Iniciales:</label>
            <input type="number" class="form-control" id="ExistenciaI" name="ExistenciaI" placeholder="EXISTENCIA INICIAL DEL PRODUCTO" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Podructo Al Inventario</button>
    </div>
</form>
{% endblock %}